
.container {
  display: flex; /* Включаем Flexbox для контейнера */
  flex-direction: row; /* Элементы в контейнере будут располагаться в строку */
  justify-content: space-between; /* Равномерное распределение ячеек внутри контейнера с пространством вокруг них */
  align-items: center; /* Выравнивание ячеек по центру по вертикальной оси */
  padding: 5em;
  border: 2px;
}

/* .row{
  height: 800px;
  width: 799px;
} */

.card{
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-color: rgba(218, 218, 218, 1);
  padding: 14px 20px;
  background-color: rgba(251, 251, 251, 1);
  margin: 17px 0;
  width: 255px;
  height: 255px;
}

.colorinnot{
  display: flex;
  background-color: rgba(231, 231, 231, 1);
  color: rgba(39, 42, 81, 1);
  text-transform: uppercase;
  font-size: 9px;
  width: 145px;
  height: 15px;
  justify-content:center;
  line-height: 1.8;
  
}

.button.button-default{
  background-color: rgb(102, 45, 145);
  justify-content: space-evenly;
  height: 27px;
  width: 27px;
  border: 1px;
  border-radius: 5px;
  position: relative;
  top: 20px; left: 0px;
}

/* .col-xs-12.col-md-4{
  height: 255px;
  width: 255px;
} */

.fa.fa-long-arrow-right{
  margin: 6px 7px ;
  color: rgba(255, 255, 255, 1);
}

.text-long{
  width: 212px;
  height: 96px;
  text-align: left;
  padding: 1px;
}




